* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.background {
    background: url("./img/int-1.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}


.main {
    background-color: #ffffff;
    width: 900px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}


.book {
    align-items: center;
    text-align: center;
    font-size: 19px;
}


.title {
    padding: 10px 0;
    margin: 15px 50px;
}

.chapter {
    padding: 10px 0 10px 0;
    margin: 30px 50px;
}

.content {
    padding: 10px 0 10px 0;
    margin: 0 50px;
}

.introduction {
    padding: 10px 0 10px 0;
    margin: 0 50px;
}

.themes {
    padding: 10px 0 10px 0;
    margin: 0 50px;
    margin: 0 50px;
}

.contentbook{
    padding: 15px;
    margin: 0 50px;
    
}

.a {
    color: rgb(24, 21, 21);
    text-decoration: none;
    margin: 15px;
    padding: 10px;
    cursor: pointer;
}

.text {
    text-indent: 30px;
    margin: 5px 50px;
    text-align: left;
}

.list {
    text-align: left;
    margin: 5px 90px;
    text-indent: 10px;
}

.paragraph {
    text-align: left;
    margin: 5px 50px;
}

.div-button {
    display: flex;
    align-items: center;
    margin: 10px 50px;
    justify-content: center;
}

/* .block {
    margin: 0 auto;
} */

img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}


.button {
    text-transform: uppercase;
    border: 2px solid whitesmoke;
    background-color: rgb(24, 21, 21);
    padding: 10px;
    margin: 15px;
    cursor: pointer;
    border-radius: 15px;
    border: 0;
	box-shadow: 0 0 10px rgba(24,21,21,1);
	margin: 20px;
}

table {
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0 auto;
}

th {
    padding: 3px 50px 3px 20px;
}

td {
    padding: 3px 50px 3px 20px;
}

a {
    color: #fff;
    text-decoration: none;
    margin: 15px;
    cursor: pointer;
}

p {
    margin: 10px 0;
}

.wrapper
{
	width: 100%;
}

.quiz-frame
{
	border: 0;
	box-shadow: 0 0 10px rgba(24,21,21,0.5);
	margin: 20px;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}